layout {
	pane_template name="fpane" {
		x "10%"
		width "80%"
		height "80%"
	}
	cwd "/home/fabrice/sessions/projet/master/rapport"
	tab hide_floating_panes=true{
		pane name="rapport"{
			command "nvim"
			args "report.typ"
		}
		floating_panes {
			fpane name="Make" {
				command "make"
				y "10%"
			}
		}
	}

	tab hide_floating_panes=true{
		pane name="prolog"{
			cwd "prolog"
			command "nvim"
			args "typing.pl"
			close_on_exit true
		}
		floating_panes {
			fpane name="evaluation test" {
				cwd "prolog"
				command "prolog"
				args "evaluation.pl"
				y "10%"
			}
			fpane name="typing test" {
				cwd "prolog"
				command "prolog"
				args "typing.pl"
				y "15%"
			}
		}
	}
}


